/*
  This file was autogenerate on {{date}} from the following Python config:

  {{source | indent(2)}}
*/

{% from "macros.j2" import typedef, cb, check, param  -%}
#ifndef __UART_PROTOCOL_H__
#define __UART_PROTOCOL_H__
#include <stdint.h>

#define ASYNC_TX

{%- for data_t in configs %}
{{ typedef(data_t) }}
#define {{data_t.name | upper}}_HEADER "{{data_t.header_value | c_str}}"
void send_{{data_t.name}}({{data_t.typename}} *config);
// To be implemented if {{data_t.name | upper}}_HEADER is defined
#ifdef {{data_t.name | upper}}_HEADER
void set_{{data_t.name}}({{data_t.typename}} *config);
#endif
{% endfor -%}

{%- for data_t in inputs %}
{{ typedef(data_t) }}
#define {{data_t.name | upper}}_HEADER "{{data_t.header_value | c_str}}"
void send_{{data_t.name}}({{data_t.typename}} *config);
{% endfor %}
#endif // __UART_PROTOCOL_H__
